@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="jumbotron">
    <a class="btn btn-primary btn-lg btn-block" href="/Profile">My Profile</a>
    <a class="btn btn-primary btn-lg btn-block" href="/Positions">Browse Positions</a>
    <a class="btn btn-primary btn-lg btn-block" href="/Applications/MyApplications">My Applications</a>
</div>
